@font-face {
  font-family: 'DroidSerif-Italic';
  src: url(https://handzia.github.io/vendor/fonts/DroidSerif-Italic.ttf);
}

body {
  font-family: 'Montserrat', sans-serif;
}

header {
  background-image: url(../Golden/images/Background-Image.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
}

header .dark-tint {
  background-color: rgba(0, 0, 0, 0.4);
  min-height: 700px;
}

header .navbar-default {
  background-color: rgba(0, 0, 0, 0.01);
  border: none;
}

header .navbar-default .navbar-nav li a {
  color: white;
  text-transform: uppercase;
}

header .navbar-default .navbar-nav li a:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
  color: white;
}

header .jumbotron {
  background-color: rgba(0, 0, 0, 0.01);
  margin-top: 100px;
}

header .jumbotron p {
  font-family: 'DroidSerif-Italic', serif;
  font-size: 40px;
  color: white;
}

header .jumbotron h1 {
  font-size: 75px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 35px;
  margin-bottom: 60px;
}

header .jumbotron .btn-default {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #fed136;
  border: none;
}

header .jumbotron .btn-default:hover {
  transform: scale(1.1);
  transition-duration: 0.8s;
}

header .jumbotron .btn-lg {
  padding: 25px 50px;
  border-radius: 3px;
}

.section-title {
  font-size: 40px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
}

.section-subtitle {
  font-family: 'DroidSerif-Italic', serif;
  color: #777777;
  margin-bottom: 80px;
}

.description-title, .about .date {
  font-size: 18px;
  font-weight: bold;
  color: #222222;
  text-transform: capitalize;
}

.description-text, .team .team-content {
  font-family: 'Roboto Slab', serif;
  color: #777777;
}

.services {
  margin: 120px auto;
}

.services .circle {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: 5px solid #fed136;
  margin: 0 auto;
  position: relative;
}

.services .circle img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio {
  background-color: #f7f7f7;
  padding: 120px 0;
}

.portfolio .first-row {
  margin-bottom: 50px;
}

.portfolio .photo-box {
  cursor: pointer;
}

.portfolio .photo-box img {
  min-height: 300px;
  width: 100%;
}

.portfolio .photo-label {
  background-color: white;
  padding: 30px 0;
}

.portfolio .photo-label .photo-title {
  font-size: 18px;
  font-weight: bold;
  color: #222222;
  margin: 0;
}

.portfolio .photo-label .photo-subtitle {
  /*font-family: 'DroidSerif-Italic';*/
  color: #777777;
  margin: 0;
}

.about {
  margin: 120px 0;
}

.about .middle {
  min-height: 273px;
}

.about .photo-box {
  position: relative;
}

.about .photo-box::after {
  content: "";
  display: inline-block;
  min-height: 90px;
  width: 3px;
  background-color: #f1f1f1;
  position: absolute;
  top: 183px;
  left: 50%;
}

.about .date {
  text-transform: uppercase;
}

.about .last-circle {
  height: 183px;
  width: 183px;
  border: 7px solid #f1f1f1;
  background-color: #fed136;
  border-radius: 50%;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.about .last-circle p {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.icon-general, .team i.fab, footer i.fab {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  margin: 0 4px;
}

.icon-general:hover, .team i.fab:hover, footer i.fab:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.fa-twitter:hover {
  background-color: #00aced;
}

.fa-facebook-f:hover {
  background-color: #3b5998;
}

.fa-google-plus-g:hover {
  background-color: #d95232;
}

.fa-pinterest-p:hover {
  background-color: #cb2028;
}

.team {
  margin-bottom: 0;
  padding-top: 100px;
  background-color: #f7f7f7;
}

.team img {
  margin-bottom: 30px;
  border-radius: 50%;
}

.team i.fab {
  border: 3px solid #222222;
  color: #222222;
  line-height: 35px;
}

.team i.fab:hover {
  color: white;
}

.team .fa-twitter:hover {
  border: 3px solid #00aced;
}

.team .fa-facebook-f:hover {
  border: 3px solid #3b5998;
}

.team .fa-google-plus-g:hover {
  border: 3px solid #d95232;
}

.team .fa-pinterest-p:hover {
  border: 3px solid #cb2028;
}

.team .team-content {
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.logos {
  margin: 60px auto;
}

.contact-us {
  background-color: #222222;
  background-image: url(https://handzia.github.io/images/Map-Image.png);
  background-repeat: no-repeat;
  background-position: 100% 125px;
  margin: 0;
}

.contact-us .section-title {
  color: white;
  margin-top: 110px;
}

.contact-us input {
  height: 50px;
}

.contact-us textarea {
  height: 210px;
  padding-top: 14px;
}

.contact-us .form-control {
  font-weight: bold;
  text-transform: uppercase;
  color: #bbbbbb;
  margin-bottom: 30px;
}

.contact-us .btn-default {
  margin-bottom: 115px;
  margin-top: 0;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #fed136;
  border: none;
}

.contact-us .btn-default:hover {
  transform: scale(1.1);
  transition-duration: 0.8s;
}

.contact-us .btn-lg {
  padding: 25px 50px;
  border-radius: 3px;
}

.contact-us [class*="col-"] {
  margin-bottom: 0;
}

footer {
  text-align: center;
  margin: 20px 0 30px 0;
}

footer p {
  color: #555555;
  margin-top: 10px;
}

footer i.fab {
  color: white;
  background-color: #222222;
  line-height: 40px;
}

@media (max-width: 767px) {
  .services, .about {
    margin: 70px 0;
  }
  .portfolio {
    padding: 70px 0;
  }
  .team {
    padding-top: 50px;
  }
}

@media (min-width: 768px) {
  .navbar-brand img {
    padding-top: 35px;
  }
  .navbar-default .navbar-nav li a {
    padding: 50px 20px;
  }
}

@media (max-width: 991px) {
  [class*="col-"] {
    margin-bottom: 50px;
  }
  .portfolio .first-row {
    margin-bottom: 0;
  }
  .about [class*="col-"] {
    margin-bottom: 0;
  }
  .about .text-right, .about .text-left {
    text-align: center;
  }
  .about .photo-box::after {
    display: none;
  }
  .about .middle {
    min-height: 183px;
  }
  .about .photo-description {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .logos {
    margin-bottom: 0;
  }
  footer [class*="col-"] {
    margin-bottom: 0;
  }
  footer i.fab {
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  footer p {
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */