/*@font-face {
	font-family: 'DroidSerif-Italic';
	src: url(vendor/fonts/.DroidSerif-Italic.ttf);
}*/
$black: #222222;
$yellow: #fed136;
$grey: #777777;
$background-grey: #f7f7f7;

header {
	background-image: url(/images/background-image.png);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 700px;
	.dark-tint {
		background-color: rgba(0,0,0,0.4); 
		min-height: 700px;
	}
	.navbar-default {
		background-color: rgba(0,0,0,0.01);
		.navbar-nav li a {
			font-family: 'Montserrat', sans-serif;
			color: white;
			text-transform: uppercase;
			&:hover {
				transform: scale(1.1);
				transition-duration: 0.5s;
				color:white;
			}
		}
		border: none;
	}
	.jumbotron {
		background-color: rgba(0,0,0,0.01);
		margin-top: 100px;
		p {
			/*font-family: 'DroidSerif-Italic';*/
			font-size: 40px;
			color: white;
		}
		h1 {
			font-family: 'Montserrat', sans-serif;
			font-size: 75px;
			color: white;
			text-transform: uppercase;
			font-weight: bold;
			margin-top: 35px;
			margin-bottom: 60px;
		}
		.btn-default {
			font-family: 'Montserrat', sans-serif;
			color: white;
			font-weight: bold;
			background-color: $yellow;
			border: none;
			&:hover {
				transform: scale(1.1);
				transition-duration: 0.8s;
			}
		}
		.btn-lg {
			padding: 25px 50px;
			border-radius: 3px;
		}
	}
}
section {
	margin: 120px auto;
}
.section-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: $black;
	text-transform: uppercase;
}
.section-subtitle {
	/*font-family: 'DroidSerif-Italic';*/
	color: $grey;
	margin-bottom: 80px;
}
.description-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: $black;
	text-transform: capitalize;
}
.description-text {
	font-family: 'Roboto Slab', serif;
	color: $grey;
}
.services {
	.circle {
		height: 75px;
		width: 75px;
		border-radius: 50%;
		border: 5px solid $yellow;
		margin: 0 auto;
		position: relative;
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}
}
.portfolio {
	background-color: $background-grey;
	padding-top: 120px;
	padding-bottom: 120px;
	.first-row {
		margin-bottom: 50px;
	}
	.photo-box {
		img {
			min-height: 300px;
			width: 100%;
		}
	}
	.photo-label {
		background-color: white;
		padding: 30px 0;
		.photo-title {
			font-family: 'Montserrat', sans-serif;
			font-size: 18px;
			font-weight: bold;
			color: $black;
			margin: 0;
		}
		.photo-subtitle {
			/*font-family: 'DroidSerif-Italic';*/
			color: $grey;
			margin: 0;
		}
	}
}
.about {
	.middle {
		min-height: 273px;
	}
	.photo-box {
		position: relative;
		&::after {
			content: "";
		    display: inline-block;
		    min-height: 90px;
		    width: 3px;
		    background-color: #f1f1f1;
		    position: absolute;
		    top: 183px;
		    left: 50%;
		}
	}
	.date {
		@extend .description-title;
		text-transform: uppercase;
	}
	.last-circle {
		height: 183px;
		width: 183px;
		border: 7px solid #f1f1f1;
		background-color: $yellow;
		border-radius: 50%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		p {
			font-family: 'Montserrat', sans-serif;
			color: white;
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
}
.team {
	margin-bottom: 0;
	background-color: $background-grey;
	i.fab {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: 3px solid $black;
		font-size: 20px;
		color: $black;
		line-height: 35px;
		cursor: pointer;
	}
	.fa-twitter:hover {
		background-color: #00aced;
		color: white;
		border: none;
	}
	.fa-facebook-f:hover {
		background-color: #3b5998;
		color: white;
		border: none;
	}
	.fa-google-plus-g:hover {
		background-color: #d95232;
		color: white;
		border: none;
	}
	.fa-pinterest-p:hover {
		background-color: #cb2028;
		color: white;
		border: none;
	}
	.team-content {
		@extend .description-text;
		font-size: 16px; 
		margin-top: 50px;
		margin-bottom: 100px;
	}
}
.logos {
	margin: 60px auto;
	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
}	
.contact-us {
	background-color: $black;
	margin-top: 0;
	.section-title {
		color: white;
	}
}
@media (min-width: 768px) {
	.navbar-brand img {
		padding-top: 35px;
	}
	.navbar-default {
		.navbar-nav li a {
			padding: 50px 20px;
		}
	}
}
@media (max-width: 991px) {
	[class*="col-"] {
		margin-bottom: 50px;
	}
	.portfolio .first-row {
		margin-bottom: 0;
	}
	.about {
		[class*="col-"] {
			margin-bottom: 0;
		}
		.text-right, .text-left {
			text-align: center;
		}
		.circle-box::after {
			display: none;
		}
		.middle {
			min-height: 183px;
		}
		.photo-description {
			margin-top: 20px;
			margin-bottom: 50px;
		}
	}
}