@font-face {
	font-family: 'DroidSerif-Italic';
	src: url(https://handzia.github.io/vendor/fonts/DroidSerif-Italic.ttf);
}
$black: #222222;
$yellow: #fed136;
$grey: #777777;
$background-grey: #f7f7f7;
$twitter: #00aced;
$facebook: #3b5998;
$pinterest: #cb2028;
$google-plus: #d95232;
body {
	font-family: 'Montserrat', sans-serif;
}
header {
	background-image: url(../Golden/images/Background-Image.png);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 700px;
	.dark-tint {
		background-color: rgba(0,0,0,0.4); 
		min-height: 700px;
	}
	.navbar-default {
		background-color: rgba(0,0,0,0.01);
		.navbar-nav li a {
			color: white;
			text-transform: uppercase;
			&:hover {
				transform: scale(1.1);
				transition-duration: 0.5s;
				color:white;
			}
		}
		border: none;
	}
	.jumbotron {
		background-color: rgba(0,0,0,0.01);
		margin-top: 100px;
		p {
			font-family: 'DroidSerif-Italic', serif;
			font-size: 40px;
			color: white;
		}
		h1 {
			font-size: 75px;
			color: white;
			text-transform: uppercase;
			font-weight: bold;
			margin-top: 35px;
			margin-bottom: 60px;
		}
		.btn-default {
			color: white;
			font-weight: bold;
			text-transform: uppercase;
			background-color: $yellow;
			border: none;
			&:hover {
				transform: scale(1.1);
				transition-duration: 0.8s;
			}
		}
		.btn-lg {
			padding: 25px 50px;
			border-radius: 3px;
		}
	}
}
.section-title {
	font-size: 40px;
	font-weight: bold;
	color: $black;
	text-transform: uppercase;
}
.section-subtitle {
	font-family: 'DroidSerif-Italic', serif;
	color: $grey;
	margin-bottom: 80px;
}
.description-title {
	font-size: 18px;
	font-weight: bold;
	color: $black;
	text-transform: capitalize;
}
.description-text {
	font-family: 'Roboto Slab', serif;
	color: $grey;
}
.services {
	margin: 120px auto;
	.circle {
		height: 75px;
		width: 75px;
		border-radius: 50%;
		border: 5px solid $yellow;
		margin: 0 auto;
		position: relative;
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}
}
.portfolio {
	background-color: $background-grey;
	padding: 120px 0;
	.first-row {
		margin-bottom: 50px;
	}
	.photo-box {
		cursor: pointer;
		img {
			min-height: 300px;
			width: 100%;
		}
	}
	.photo-label {
		background-color: white;
		padding: 30px 0;
		.photo-title {
			font-size: 18px;
			font-weight: bold;
			color: $black;
			margin: 0;
		}
		.photo-subtitle {
			/*font-family: 'DroidSerif-Italic';*/
			color: $grey;
			margin: 0;
		}
	}
}
.about {
	margin: 120px 0;
	.middle {
		min-height: 273px;
	}
	.photo-box {
		position: relative;
		&::after {
			content: "";
		    display: inline-block;
		    min-height: 90px;
		    width: 3px;
		    background-color: #f1f1f1;
		    position: absolute;
		    top: 183px;
		    left: 50%;
		}
	}
	.date {
		@extend .description-title;
		text-transform: uppercase;
	}
	.last-circle {
		height: 183px;
		width: 183px;
		border: 7px solid #f1f1f1;
		background-color: $yellow;
		border-radius: 50%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		p {
			color: white;
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
}
.icon-general {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 18px;
	cursor: pointer;
	margin: 0 4px;
	&:hover {
		transform: scale(1.1);
		transition: 0.3s;
	}
}
.fa-twitter:hover {
	background-color: $twitter;
}
.fa-facebook-f:hover {
	background-color: $facebook;
}
.fa-google-plus-g:hover {
	background-color: $google-plus;
}
.fa-pinterest-p:hover {
	background-color: $pinterest;
}
.team {
	margin-bottom: 0;
	padding-top: 100px;
	background-color: $background-grey;
	img {
		margin-bottom: 30px;
		border-radius: 50%;
	}
	i.fab {
		@extend .icon-general;
		border: 3px solid $black;
		color: $black;
		line-height: 35px;
		&:hover {
			color: white;
		}
	}
	.fa-twitter:hover {
		border: 3px solid $twitter;
	}
	.fa-facebook-f:hover {
		border: 3px solid $facebook;
	}
	.fa-google-plus-g:hover {
		border: 3px solid $google-plus;
	}
	.fa-pinterest-p:hover {
		border: 3px solid $pinterest;
	}
	.team-content {
		@extend .description-text;
		font-size: 16px; 
		margin-top: 50px;
		margin-bottom: 100px;
	}
}
.logos {
	margin: 60px auto;
}	
.contact-us {
	background-color: $black;
	background-image: url(https://handzia.github.io/images/Map-Image.png);
	background-repeat: no-repeat;
	background-position: 100% 125px;
	margin: 0;
	.section-title {
		color: white;
		margin-top: 110px;
	}
	input {
		height: 50px;
	}
	textarea {
		height: 210px;
		padding-top: 14px;
	}
	.form-control {
		font-weight: bold;
		text-transform: uppercase;
		color: #bbbbbb;
		margin-bottom: 30px;
	}
	.btn-default {
		margin-bottom: 115px;
		margin-top: 0;
		color: white;
		font-weight: bold;
		text-transform: uppercase;
		background-color: $yellow;
		border: none;
		&:hover {
			transform: scale(1.1);
			transition-duration: 0.8s;
		}
	}
	.btn-lg {
		padding: 25px 50px;
		border-radius: 3px;
	}
	
	[class*="col-"] {
		margin-bottom: 0;
	}
}
footer {
	text-align: center;
	margin: 20px 0 30px 0;
	p {
		color: #555555;
		margin-top: 10px;
	}
	i.fab {
		@extend .icon-general;
		color: white;
		background-color: $black;
		line-height: 40px;
	}
}
@media (max-width: 767px) {
	.services, .about {
		margin: 70px 0;
	}
	.portfolio {
		padding: 70px 0;
	}
	.team {
		padding-top: 50px;
	}
}
@media (min-width: 768px) {
	.navbar-brand img {
		padding-top: 35px;
	}
	.navbar-default {
		.navbar-nav li a {
			padding: 50px 20px;
		}
	}
}
@media (max-width: 991px) {
	[class*="col-"] {
		margin-bottom: 50px;
	}
	.portfolio .first-row {
		margin-bottom: 0;
	}
	.about {
		[class*="col-"] {
			margin-bottom: 0;
		}
		.text-right, .text-left {
			text-align: center;
		}
		.photo-box::after {
			display: none;
		}
		.middle {
			min-height: 183px;
		}
		.photo-description {
			margin-top: 20px;
			margin-bottom: 50px;
		}
	}
	.logos {
		margin-bottom: 0;
	}
	footer {
		[class*="col-"] {
			margin-bottom: 0;
		}
		i.fab {
			margin-bottom: 20px;
		}
	}
}
@media (min-width: 992px) {
	footer p {
		text-align: left;
	}
}
